@page "/"

@inject PowerShellService powerShellService 

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@foreach(var stream in streams)
{
	<ul>
		<li>@stream.Key
			<ul>
				@foreach (var item in stream.Value)
				{
					<li>@item</li>
				}
			</ul>
		</li>
	</ul>
}



@code{
	Dictionary<string, List<string>> streams = new Dictionary<string, List<string>>();

	protected async override Task OnInitializedAsync()
	{
		streams = await powerShellService.Run();
	}
}